@font-face {
  font-family: Adumu;
  src: url("img/Adumu.ttf");

}

.adumu {
  font-family: Adumu;
  font-size: 1.5rem;
  color: #e15701;
  text-transform: uppercase;
}

.hlavni_logo {
    width: 75%;
}

.margintop {
    margin-top: 150px;
}

.bordermq {
  border-right: 1px solid black;
  border-left: 1px solid black;


}


.races img {
    width: 75%;
}





@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: blink 4s infinite;
  }

@media screen and (max-width: 991px) {
    .bordermq {
        border-left: none !important;
        border-right: none !important; 
        border-bottom: 1px solid black;
        border-top: 1px solid black;
          
    }

    .margintop {
        margin-top: 50px;
    }

    .races img {
        width: 50%;
    }

    .pbl img {
      width: 50%;
      
      
  }




    .center {
      margin: auto;
      text-align: center;
    }

  }


